<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Savannah Trees</title>
</head>
<body>
<h2>Lilies are unique flowers species</h2>
<p><span>Lilies are beautiful and diverse flowers belonging to the genus Lilium, which includes various species that are known for their large, prominent blooms and fragrant scent.</span></p>
</body>
</html>